:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey:#BABABA;
    --white-off:#FAF8F7;
    --just-white:#FFFFFF;
    --grey-2:#808080;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* ----------------------Styles header--------------------------------*/

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--white-off);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

/*------------------styles main section 1-----------*/

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--white-off);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--tittle{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgoundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/imgs/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}


/*-----------styles tables---------------*/


.main-currency-table,
.main-commissions-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family:  'Inter', sans-serif;
}

.main-currency-table .currency-table--tittle,
.main-commissions-table .commissions-table--tittle {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: left;
}
.main-commissions-table .commissions-table--tittle{
    color: var(--secundary-blue);
}

.currency-table--container,
.commissions-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table,
.commissions-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td,
.commissions-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color:  var(--just-white) ;
}

.currency-table--container .table__top-left,
.commissions-table--container .table2__top-left{
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right,
.commissions-table--container .table2__top-right{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left,
.commissions-table--container .table2__bottom-left{
    border-radius: 0 0 0 15px ;
}

.currency-table--container .table__bottom-right,
.commissions-table--container .table2__bottom-right{
    border-radius: 0 0  15px 0;
}

.currency-table--container .table__right,
.commissions-table--container .table2__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.commissions-table--container .sack-dollar {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 7px;
    background-image: url('../assets/icons/commissions.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.currency-table--date,
.commissions-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.commissions-table--date{
    background-color: var(--soft-blue);
}

.currency-table--date p,
.commissions-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}



/*---------------styles section 2 beneficios-------------------*/



.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batatabit-logo{
    position:absolute;
    width: 40px;
    height: 25px;
    top: -12px;
    left: calc(50% - 20px);
    background-image: url('../assets/icons/batata.svg');
}

.product-detail--tittle{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--tittle h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--tittle p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-2);
}

.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-width: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .icons-cards{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-detail--card .clock{
    background-image: url('../assets/icons/clock.svg'); 
}
.product-detail--card .eye{
    background-image: url('../assets/icons/eye.svg'); 
}
.product-detail--card .dollar{
    background-image: url('../assets/icons/dollar-sign.svg'); 
}
.product-detail--card .check{
    background-image: url('../assets/icons/check-circle.svg'); 
}

.product-detail--card .product--card-tittle{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-detail--card .product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-2);
}